In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('IMDB-Movie-Data.xlsx.csv')

In [3]:
df.head()

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02

In [4]:
df

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
0,1,Guardians of the Galaxy,Action,James Gunn,2014,121,8.1,757074,333.13
1,2,Prometheus,Adventure,Ridley Scott,2012,124,7.0,485820,126.46
2,3,Split,Horror,M. Night Shyamalan,2016,117,7.3,157606,138.12
3,4,Sing,Animation,Christophe Lourdelet,2016,108,7.2,60545,270.32
4,5,Suicide Squad,Action,David Ayer,2016,123,6.2,393727,325.02
...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,Crime,Billy Ray,2015,111,6.2,27585,NaN
996,997,Hostel: Part II,Horror,Eli Roth,2007,94,5.5,73152,17.54
997,998,Step Up 2: The Streets,Drama,Jon M. Chu,2008,98,6.2,70699,58.01
998,999,Search Party,Adventure,Scot Armstrong,2014,93,5.6,4881,NaN
999,1000,Nine Lives,Comedy,Barry Sonnenfeld,2016,87,5.3,12435,19.64

In [5]:
df.describe()

,ID,Year,Runtime_minutes,Rating,Votes,Revenue_millions
count,1000.000000,1000.000000,1000.000000,1000.000000,1.000000e+03,872.000000
mean,500.500000,2012.783000,113.172000,6.723200,1.698083e+05,82.956376
std,288.819436,3.205962,18.810908,0.945429,1.887626e+05,103.253540
min,1.000000,2006.000000,66.000000,1.900000,6.100000e+01,0.000000
25%,250.750000,2010.000000,100.000000,6.200000,3.630900e+04,13.270000
50%,500.500000,2014.000000,111.000000,6.800000,1.107990e+05,47.985000
75%,750.250000,2016.000000,123.000000,7.400000,2.399098e+05,113.715000
max,1000.000000,2016.000000,191.000000,9.000000,1.791916e+06,936.630000

In [6]:
df.isnull().sum()

ID                    0
Title                 0
Genre                 0
Director              0
Year                  0
Runtime_minutes       0
Rating                0
Votes                 0
Revenue_millions    128
dtype: int64

In [7]:
df[df["Revenue_millions"]>75]["ID"].count()

318

In [8]:
df[(df["Revenue_millions"]>50) & (df["Rating"]<7)]["ID"].count()

211

In [9]:
df[df["Year"] == 2015]["Revenue_millions"].sum()

8854.119999999999

In [10]:
df[(df["Genre"] == "Adventure") & (df["Year"] == 2015)]["Rating"].mean()

6.799999999999999

In [11]:
df.iloc[75:150, 5].mean()

127.61333333333333

In [12]:
df.groupby(by="Year")["Revenue_millions"].sum().sort_values()

Year
2006     3624.46
2007     4306.23
2008     5053.22
2009     5292.26
2011     5431.96
2010     5989.65
2012     6910.29
2013     7666.72
2014     7997.40
2015     8854.12
2016    11211.65
Name: Revenue_millions, dtype: float64

In [13]:
rev_set = df.loc[[10,20,30,40,50]]
rev_set

,ID,Title,Genre,Director,Year,Runtime_minutes,Rating,Votes,Revenue_millions
10,11,Fantastic Beasts and Where to Find Them,Adventure,David Yates,2016,133,7.5,232072,234.02
20,21,Gold,Adventure,Stephen Gaghan,2016,120,6.7,19053,7.22
30,31,Why Him?,Comedy,John Hamburg,2016,111,6.3,48123,60.31
40,41,Sausage Party,Animation,Greg Tiernan,2016,89,6.3,120690,97.66
50,51,Star Wars: Episode VII - The Force Awakens,Action,J.J. Abrams,2015,136,8.1,661608,936.63

In [14]:
rev_set["Revenue_millions"].max()

936.63

In [15]:
df.groupby(by="Genre")["ID"].count()

Genre
Action       293
Adventure     75
Animation     49
Biography     64
Comedy       175
Crime         71
Drama        195
Fantasy        4
Horror        46
Mystery       13
Romance        2
Sci-Fi         3
Thriller      10
Name: ID, dtype: int64

In [16]:
75+293+46+71

485

In [17]:
df[df["Genre"].isin(["Action","Adventure","Crime","Horror"])].count()

ID                  485
Title               485
Genre               485
Director            485
Year                485
Runtime_minutes     485
Rating              485
Votes               485
Revenue_millions    436
dtype: int64

## Analysis

### Create a genre level report with metrics average rating, the average number of votes, and average revenue

In [18]:
genre_grouped = df.groupby('Genre')

genre_report = genre_grouped.agg({
    'Rating': 'mean',
    'Votes': 'mean',
    'Revenue_millions': 'mean'
})

genre_report = genre_report.sort_values('Rating', ascending=False)

print(genre_report)

             Rating          Votes  Revenue_millions
Genre
Animation  7.324490  208159.428571        191.223404
Biography  7.318750  153060.718750         55.954500
Drama      6.954872  129445.128205         35.874487
Adventure  6.908000  225669.320000        113.453521
Mystery    6.876923  218672.000000         64.379091
Crime      6.807042  150124.957746         41.043519
Romance    6.600000  104572.000000         62.450000
Action     6.592491  235948.580205        122.093551
Comedy     6.493143  115640.188571         51.582244
Thriller   5.960000   31156.800000          0.320000
Horror     5.867391   79435.413043         39.946857
Fantasy    5.850000  106723.000000         63.110000
Sci-Fi     4.966667   57450.000000         42.635000

In [19]:
print(type(genre_report))

<class 'pandas.core.frame.DataFrame'>

In [20]:
genre_report.loc["Horror"]

Rating                  5.867391
Votes               79435.413043
Revenue_millions       39.946857
Name: Horror, dtype: float64

In [21]:
genre_year_rev = df.groupby(['Genre', 'Year'])['Revenue_millions'].sum().reset_index()
print(genre_year_rev)
genre_year_rev.rename(columns={'Revenue_millions': 'Total_revenue'}, inplace=True)

merged_data = pd.merge(df, genre_year_rev, on=['Genre', 'Year'], how='left')
print(merged_data)
split_movie = merged_data[merged_data['Title'] == 'Split']
percent_revenue = (split_movie['Revenue_millions'] * 100) / split_movie['Total_revenue']

print("The % revenue of the movie 'Split' in its respective genre and year is:", percent_revenue.values[0])

        Genre  Year  Revenue_millions
0      Action  2006           1664.01
1      Action  2007           1579.58
2      Action  2008           2935.08
3      Action  2009           2694.44
4      Action  2010           2345.65
..        ...   ...               ...
101    Sci-Fi  2008             64.51
102    Sci-Fi  2016             20.76
103  Thriller  2007              0.00
104  Thriller  2014              0.32
105  Thriller  2016              0.00

[106 rows x 3 columns]
       ID                    Title      Genre              Director  Year  \
0       1  Guardians of the Galaxy     Action            James Gunn  2014
1       2               Prometheus  Adventure          Ridley Scott  2012
2       3                    Split     Horror    M. Night Shyamalan  2016
3       4                     Sing  Animation  Christophe Lourdelet  2016
4       5            Suicide Squad     Action            David Ayer  2016
..    ...                      ...        ...                   ...   ...
995   996     Secret in Their Eyes      Crime             Billy Ray  2015
996   997          Hostel: Part II     Horror              Eli Roth  2007
997   998   Step Up 2: The Streets      Drama            Jon M. Chu  2008
998   999             Search Party  Adventure        Scot Armstrong  2014
999  1000               Nine Lives     Comedy      Barry Sonnenfeld  2016

     Runtime_minutes  Rating   Votes  Revenue_millions  Total_revenue
0                121     8.1  757074            333.13        4458.07
1                124     7.0  485820            126.46        1300.25
2                117     7.3  157606            138.12         469.47
3                108     7.2   60545            270.32        2417.34
4                123     6.2  393727            325.02        4807.61
..               ...     ...     ...               ...            ...
995              111     6.2   27585               NaN         117.22
996               94     5.5   73152             17.54          43.13
997               98     6.2   70699             58.01         807.13
998               93     5.6    4881               NaN         932.61
999               87     5.3   12435             19.64         961.34

[1000 rows x 10 columns]
The % revenue of the movie 'Split' in its respective genre and year is: 29.42041024985622

In [22]:
df.dropna(inplace=True)

In [23]:
genre_year_revenue = df.groupby(['Genre', 'Year'])['Revenue_millions'].sum().reset_index()
genre_year_revenue.rename(columns={'Revenue_millions': 'Total_revenue'}, inplace=True)
print(genre_year_revenue)

merged_data = pd.merge(df, genre_year_revenue, on=['Genre', 'Year'], how='left')

def calculate_percent_revenue(row):
    return (row['Revenue_millions'] * 100) / row['Total_revenue']

merged_data['Percent_revenue'] = merged_data.apply(calculate_percent_revenue, axis=1)
print(merged_data)

split_percent_revenue = merged_data.loc[merged_data['Title'] == 'Split', 'Percent_revenue'].values[0]

print("The % revenue of the movie 'Split' in its respective genre and year is:", split_percent_revenue)

       Genre  Year  Total_revenue
0     Action  2006        1664.01
1     Action  2007        1579.58
2     Action  2008        2935.08
3     Action  2009        2694.44
4     Action  2010        2345.65
..       ...   ...            ...
95   Mystery  2015          79.16
96   Romance  2011          62.45
97    Sci-Fi  2008          64.51
98    Sci-Fi  2016          20.76
99  Thriller  2014           0.32

[100 rows x 3 columns]
       ID                     Title      Genre              Director  Year  \
0       1   Guardians of the Galaxy     Action            James Gunn  2014
1       2                Prometheus  Adventure          Ridley Scott  2012
2       3                     Split     Horror    M. Night Shyamalan  2016
3       4                      Sing  Animation  Christophe Lourdelet  2016
4       5             Suicide Squad     Action            David Ayer  2016
..    ...                       ...        ...                   ...   ...
867   994  Resident Evil: Afterlife     Action    Paul W.S. Anderson  2010
868   995                 Project X     Comedy       Nima Nourizadeh  2012
869   997           Hostel: Part II     Horror              Eli Roth  2007
870   998    Step Up 2: The Streets      Drama            Jon M. Chu  2008
871  1000                Nine Lives     Comedy      Barry Sonnenfeld  2016

     Runtime_minutes  Rating   Votes  Revenue_millions  Total_revenue  \
0                121     8.1  757074            333.13        4458.07
1                124     7.0  485820            126.46        1300.25
2                117     7.3  157606            138.12         469.47
3                108     7.2   60545            270.32        2417.34
4                123     6.2  393727            325.02        4807.61
..               ...     ...     ...               ...            ...
867               97     5.9  140900             60.13        2345.65
868               88     6.7  164088             54.72        1008.02
869               94     5.5   73152             17.54          43.13
870               98     6.2   70699             58.01         807.13
871               87     5.3   12435             19.64         961.34

     Percent_revenue
0           7.472516
1           9.725822
2          29.420410
3          11.182539
4           6.760532
..               ...
867         2.563469
868         5.428464
869        40.667749
870         7.187194
871         2.042982

[872 rows x 11 columns]
The % revenue of the movie 'Split' in its respective genre and year is: 29.42041024985622

### Add a column votes_norm using apply function.

In [26]:
imdb_data = pd.read_csv('IMDB-Movie-Data.xlsx.csv')

def calculate_votes_norm(row):
    min_votes = imdb_data['Votes'].min()
    max_votes = imdb_data['Votes'].max()
    return (row['Votes'] - min_votes) * 10 / (max_votes - min_votes)

imdb_data['Votes_norm'] = imdb_data.apply(calculate_votes_norm, axis=1)

average_votes_norm = round(imdb_data['Votes_norm'].mean(), 2)

print("The average 'Votes_norm' is:", average_votes_norm)

The average 'Votes_norm' is: 0.95

In [28]:
def calculate_total_rating(row):
    return row['Rating'] + row['Votes_norm']

imdb_data['Total_rating'] = imdb_data.apply(calculate_total_rating, axis=1)

highest_total_rating = imdb_data['Total_rating'].max()

print("The highest 'Total_rating' is:", highest_total_rating)

The highest 'Total_rating' is: 19.0

In [29]:
bins = [0, 50, 100, 150, float('inf')]
labels = ['0-50', '51-100', '101-150', '150+']

imdb_data['Revenue_bins'] = pd.cut(imdb_data['Revenue_millions'], bins=bins, labels=labels, right=False)

bucket_counts = imdb_data['Revenue_bins'].value_counts()
highest_bucket = bucket_counts.idxmax()

print("The bucket with the highest number of movies is:", highest_bucket)

The bucket with the highest number of movies is: 0-50

In [30]:
director_grouped = imdb_data.groupby('Director')['Genre'].nunique().reset_index()

highest_num_genres = director_grouped['Genre'].max()

directors_highest_num_genres = director_grouped[director_grouped['Genre'] == highest_num_genres]['Director']

num_directors_highest_num_genres = directors_highest_num_genres.nunique()

print("The number of directors who have created movies in the highest number of genres:", num_directors_highest_num_genres)

The number of directors who have created movies in the highest number of genres: 2